<a href="https://colab.research.google.com/github/santhoshreddy39/Ineuron-ML-DL-Solutions/blob/master/Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [2]:
def myreduce(add,list):
    return a
def add(a,b):
    return a+b
list_1=[3,5,13,25,36,47]
a=list_1[0]
for i in range(1,len(list_1)):
    b=list_1[i]
    a=add(a,b)
print(myreduce(add,list_1))

129

In [3]:
# Validating our created 'myreduce' function result with Python in built function 'reduce'
from functools import reduce
def add(a,b):
    return a+b
list_2=[3,5,13,25,36,47]
print(reduce(add,list_2))

129

Both inbuilt **reduce** function and created **myreduce** function is giving same result.

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [5]:
def myfilter(is_even,list_3):
    return is_even(a)
list_3=[3,5,13,25,36,47,98,498,713,872]
list_4=[]
def is_even(a):
    for i in list_3:
        if i%2==0:
            list_4.append(i)
    print(list_4)
myfilter(is_even,list_3)

[36, 98, 498, 872]

In [6]:
# Validating our created 'myfilter' function result with Python in built function 'filter'
def is_even(num):
    if num%2==0:
        return True
list_5=[3,5,13,25,36,47,98,498,713,872]
print(list(filter(is_even,list_5)))

[36, 98, 498, 872]

Both inbuilt function **filter** and created **myfilter** function is giving same result.

2. Implement List comprehensions to produce the following lists. Write List comprehensions to produce the following Lists

In [7]:
list1=['x','y','z']
result1=[i*j for i in list1 for j in range(1,5)]
print(result1)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [8]:
list2=['x','y','z']
result2=[i*j for i in range(1,5) for j in list2]
print(result2)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [9]:
result3=[[a+b] for a in range(2,5) for b in range(3)]
print(result3)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [10]:
result4=[[a+b for b in range(2,6)] for a in range(4)]
print(result4)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [11]:
result5=[(a,b) for b in range(1,4) for a in range(1,4)]
print(result5)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]